---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import Journey from '../components/Journey.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import FloatingContact from '../components/FloatingContact.astro';
---

<Layout
  title="Álvaro Lostal | Portafolio Desarrollador Web"
  description="Soy Álvaro Lostal, ingeniero informático de Santander. Diseño y desarrollo webs minimalistas, funcionales y accesibles, con atención al detalle y pasión por la experiencia de usuario, utilizando frameworks y tecnologías web modernas. Descubre mis proyectos, habilidades y trayectoria."
>
  <div id="top"></div>
  <Navigation />
  <main id="main">
    <Hero />
    <Projects />
    <Journey />
    <Skills />
    <Contact />
  </main>
  <Footer />
  <FloatingContact />
</Layout>
