---
// No imports needed for now - using external images
---

<!-- Swiper CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css" />

<section class="base-template" id="projects">
	<div class="wrapper">
		<div class="section-header fade-in">
			<div class="section-label">Proyectos</div>
			<h2 class="section-title">Mi Trabajo</h2>
			<p class="section-description">
				Estos proyectos web reflejan mi enfoque en el diseño minimalista, una UX
				cuidada y buenas prácticas de desarrollo.
			</p>
		</div>
	</div>

	<div class="base-template__content">
		<div class="emotions-slider">

				<!-- Slider Navigation -->

				<div class="emotions-slider__nav slider-nav">
					<div tabindex="0" class="slider-nav__item slider-nav__item_prev">
						<svg width="16" height="28" viewBox="0 0 16 28" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M14 26L2 14L14 2" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
					</div>
					<div tabindex="0" class="slider-nav__item slider-nav__item_next">
						<svg width="16" height="28" viewBox="0 0 16 28" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M2 26L14 14L2 2" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
					</div>
				</div>

				<!-- Slider Content -->

				<div class="emotions-slider__slider swiper">
					<div class="emotions-slider__wrapper swiper-wrapper">

						<!-- Slider: Slide 1 -->

						<div class="emotions-slider__slide swiper-slide">
							<div class="emotions-slider__item emotions-slider-item">
								<div class="emotions-slider-item__image">
									<img src="https://bato-web-agency.github.io/bato-shared/img/slider-1/slide-1.jpg" alt="Winds of Change" />
								</div>

								<div class="emotions-slider-item__content">
									<div class="emotions-slider-item__header">
										<div class="emotions-slider-item__header-inner">
											<div class="emotions-slider-item__price">$175</div>
											<div class="emotions-slider-item__author">
												<div class="emotions-slider-item__author-image">
													<img src="https://bato-web-agency.github.io/bato-shared/img/slider-1/author-1.jpg" alt="Andrew Kelman" />
												</div>
												<div class="emotions-slider-item__author-name">
													Andrew Kelman
												</div>
											</div>
										</div>
									</div>

									<div class="emotions-slider-item__info">
										<h2 class="emotions-slider-item__title">
											Winds of Change
										</h2>
										<div class="emotions-slider-item__text">
											Gentle pink and blue hues remind us of moments when everything changes for the better.
										</div>
									</div>

									<div class="emotions-slider-item__footer">
										<a class="emotions-slider-item__btn" href="/" onclick="event.preventDefault();">
											<span class="emotions-slider-item__btn-text">View more</span>
											<span class="emotions-slider-item__btn-icon"></span>
										</a>
									</div>
								</div>
							</div>
						</div>

						<!-- Slider: Slide 2 -->

						<div class="emotions-slider__slide swiper-slide">
							<div class="emotions-slider__item emotions-slider-item">
								<div class="emotions-slider-item__badge">Popular Now</div>

								<div class="emotions-slider-item__image">
									<img src="https://bato-web-agency.github.io/bato-shared/img/slider-1/slide-2.jpg" alt="Flames of Passion" />
								</div>

								<div class="emotions-slider-item__content">
									<div class="emotions-slider-item__header">
										<div class="emotions-slider-item__header-inner">
											<div class="emotions-slider-item__price">$270</div>
											<div class="emotions-slider-item__author">
												<div class="emotions-slider-item__author-image">
													<img src="https://bato-web-agency.github.io/bato-shared/img/slider-1/author-2.jpg" alt="Alex Bilyk" />
												</div>
												<div class="emotions-slider-item__author-name">
													Alex Bilyk
												</div>
											</div>
										</div>
									</div>

									<div class="emotions-slider-item__info">
										<h2 class="emotions-slider-item__title">
											Flames of Passion
										</h2>
										<div class="emotions-slider-item__text">
											This piece represents the fire of inspiration burning within us all. Feel the warmth of emotions in a swirl of red and yellow tones.
										</div>
									</div>

									<div class="emotions-slider-item__footer">
										<a class="emotions-slider-item__btn" href="/" onclick="event.preventDefault();">
											<span class="emotions-slider-item__btn-text">View more</span>
											<span class="emotions-slider-item__btn-icon"></span>
										</a>
									</div>
								</div>
							</div>
						</div>

						<!-- Slider: Slide 3 -->

						<div class="emotions-slider__slide swiper-slide">
							<div class="emotions-slider__item emotions-slider-item">
								<div class="emotions-slider-item__image">
									<img src="https://bato-web-agency.github.io/bato-shared/img/slider-1/slide-3.jpg" alt="Oceans of Serenity" />
								</div>

								<div class="emotions-slider-item__content">
									<div class="emotions-slider-item__header">
										<div class="emotions-slider-item__header-inner">
											<div class="emotions-slider-item__price">$225</div>
											<div class="emotions-slider-item__author">
												<div class="emotions-slider-item__author-image">
													<img src="https://bato-web-agency.github.io/bato-shared/img/slider-1/author-3.jpg" alt="Inna Grande" />
												</div>
												<div class="emotions-slider-item__author-name">
													Inna Grande
												</div>
											</div>
										</div>
									</div>

									<div class="emotions-slider-item__info">
										<h2 class="emotions-slider-item__title">
											Oceans of Serenity
										</h2>
										<div class="emotions-slider-item__text">
											Immerse yourself in the depths of calm and harmony. Blue waves of art take you into a world of meditation and inner balance.
										</div>
									</div>

									<div class="emotions-slider-item__footer">
										<a class="emotions-slider-item__btn" href="/" onclick="event.preventDefault();">
											<span class="emotions-slider-item__btn-text">View more</span>
											<span class="emotions-slider-item__btn-icon"></span>
										</a>
									</div>
								</div>
							</div>
						</div>

						<!-- Slider: Slide 4 -->

						<div class="emotions-slider__slide swiper-slide">
							<div class="emotions-slider__item emotions-slider-item">
								<div class="emotions-slider-item__image">
									<img src="https://bato-web-agency.github.io/bato-shared/img/slider-1/slide-1.jpg" alt="Winds of Change" />
								</div>

								<div class="emotions-slider-item__content">
									<div class="emotions-slider-item__header">
										<div class="emotions-slider-item__header-inner">
											<div class="emotions-slider-item__price">$175</div>
											<div class="emotions-slider-item__author">
												<div class="emotions-slider-item__author-image">
													<img src="https://bato-web-agency.github.io/bato-shared/img/slider-1/author-1.jpg" alt="Andrew Kelman" />
												</div>
												<div class="emotions-slider-item__author-name">
													Andrew Kelman
												</div>
											</div>
										</div>
									</div>

									<div class="emotions-slider-item__info">
										<h2 class="emotions-slider-item__title">
											Winds of Change
										</h2>
										<div class="emotions-slider-item__text">
											Gentle pink and blue hues remind us of moments when everything changes for the better.
										</div>
									</div>

									<div class="emotions-slider-item__footer">
										<a class="emotions-slider-item__btn" href="/" onclick="event.preventDefault();">
											<span class="emotions-slider-item__btn-text">View more</span>
											<span class="emotions-slider-item__btn-icon"></span>
										</a>
									</div>
								</div>
							</div>
						</div>

						<!-- Slider: Slide 5 -->

						<div class="emotions-slider__slide swiper-slide">
							<div class="emotions-slider__item emotions-slider-item">
								<div class="emotions-slider-item__badge">Popular Now</div>

								<div class="emotions-slider-item__image">
									<img src="https://bato-web-agency.github.io/bato-shared/img/slider-1/slide-2.jpg" alt="Flames of Passion" />
								</div>

								<div class="emotions-slider-item__content">
									<div class="emotions-slider-item__header">
										<div class="emotions-slider-item__header-inner">
											<div class="emotions-slider-item__price">$270</div>
											<div class="emotions-slider-item__author">
												<div class="emotions-slider-item__author-image">
													<img src="https://bato-web-agency.github.io/bato-shared/img/slider-1/author-2.jpg" alt="Alex Bilyk" />
												</div>
												<div class="emotions-slider-item__author-name">
													Alex Bilyk
												</div>
											</div>
										</div>
									</div>

									<div class="emotions-slider-item__info">
										<h2 class="emotions-slider-item__title">
											Flames of Passion
										</h2>
										<div class="emotions-slider-item__text">
											This piece represents the fire of inspiration burning within us all. Feel the warmth of emotions in a swirl of red and yellow tones.
										</div>
									</div>

									<div class="emotions-slider-item__footer">
										<a class="emotions-slider-item__btn" href="/" onclick="event.preventDefault();">
											<span class="emotions-slider-item__btn-text">View more</span>
											<span class="emotions-slider-item__btn-icon"></span>
										</a>
									</div>
								</div>
							</div>
						</div>

						<!-- Slider: Slide 6 -->

						<div class="emotions-slider__slide swiper-slide">
							<div class="emotions-slider__item emotions-slider-item">
								<div class="emotions-slider-item__image">
									<img src="https://bato-web-agency.github.io/bato-shared/img/slider-1/slide-3.jpg" alt="Oceans of Serenity" />
								</div>

								<div class="emotions-slider-item__content">
									<div class="emotions-slider-item__header">
										<div class="emotions-slider-item__header-inner">
											<div class="emotions-slider-item__price">$225</div>
											<div class="emotions-slider-item__author">
												<div class="emotions-slider-item__author-image">
													<img src="https://bato-web-agency.github.io/bato-shared/img/slider-1/author-3.jpg" alt="Inna Grande" />
												</div>
												<div class="emotions-slider-item__author-name">
													Inna Grande
												</div>
											</div>
										</div>
									</div>

									<div class="emotions-slider-item__info">
										<h2 class="emotions-slider-item__title">
											Oceans of Serenity
										</h2>
										<div class="emotions-slider-item__text">
											Immerse yourself in the depths of calm and harmony. Blue waves of art take you into a world of meditation and inner balance.
										</div>
									</div>

									<div class="emotions-slider-item__footer">
										<a class="emotions-slider-item__btn" href="/" onclick="event.preventDefault();">
											<span class="emotions-slider-item__btn-text">View more</span>
											<span class="emotions-slider-item__btn-icon"></span>
										</a>
									</div>
								</div>
							</div>
						</div>

						<!-- Slider: Slide 7 -->

						<div class="emotions-slider__slide swiper-slide">
							<div class="emotions-slider__item emotions-slider-item">
								<div class="emotions-slider-item__image">
									<img src="https://bato-web-agency.github.io/bato-shared/img/slider-1/slide-1.jpg" alt="Winds of Change" />
								</div>

								<div class="emotions-slider-item__content">
									<div class="emotions-slider-item__header">
										<div class="emotions-slider-item__header-inner">
											<div class="emotions-slider-item__price">$175</div>
											<div class="emotions-slider-item__author">
												<div class="emotions-slider-item__author-image">
													<img src="https://bato-web-agency.github.io/bato-shared/img/slider-1/author-1.jpg" alt="Andrew Kelman" />
												</div>
												<div class="emotions-slider-item__author-name">
													Andrew Kelman
												</div>
											</div>
										</div>
									</div>

									<div class="emotions-slider-item__info">
										<h2 class="emotions-slider-item__title">
											Winds of Change
										</h2>
										<div class="emotions-slider-item__text">
											Gentle pink and blue hues remind us of moments when everything changes for the better.
										</div>
									</div>

									<div class="emotions-slider-item__footer">
										<a class="emotions-slider-item__btn" href="/" onclick="event.preventDefault();">
											<span class="emotions-slider-item__btn-text">View more</span>
											<span class="emotions-slider-item__btn-icon"></span>
										</a>
									</div>
								</div>
							</div>
						</div>

						<!-- Slider: Slide 8 -->

						<div class="emotions-slider__slide swiper-slide">
							<div class="emotions-slider__item emotions-slider-item">
								<div class="emotions-slider-item__badge">Popular Now</div>

								<div class="emotions-slider-item__image">
									<img src="https://bato-web-agency.github.io/bato-shared/img/slider-1/slide-2.jpg" alt="Flames of Passion" />
								</div>

								<div class="emotions-slider-item__content">
									<div class="emotions-slider-item__header">
										<div class="emotions-slider-item__header-inner">
											<div class="emotions-slider-item__price">$270</div>
											<div class="emotions-slider-item__author">
												<div class="emotions-slider-item__author-image">
													<img src="https://bato-web-agency.github.io/bato-shared/img/slider-1/author-2.jpg" alt="Alex Bilyk" />
												</div>
												<div class="emotions-slider-item__author-name">
													Alex Bilyk
												</div>
											</div>
										</div>
									</div>

									<div class="emotions-slider-item__info">
										<h2 class="emotions-slider-item__title">
											Flames of Passion
										</h2>
										<div class="emotions-slider-item__text">
											This piece represents the fire of inspiration burning within us all. Feel the warmth of emotions in a swirl of red and yellow tones.
										</div>
									</div>

									<div class="emotions-slider-item__footer">
										<a class="emotions-slider-item__btn" href="/" onclick="event.preventDefault();">
											<span class="emotions-slider-item__btn-text">View more</span>
											<span class="emotions-slider-item__btn-icon"></span>
										</a>
									</div>
								</div>
							</div>
						</div>

						<!-- Slider: Slide 9 -->

						<div class="emotions-slider__slide swiper-slide">
							<div class="emotions-slider__item emotions-slider-item">
								<div class="emotions-slider-item__image">
									<img src="https://bato-web-agency.github.io/bato-shared/img/slider-1/slide-3.jpg" alt="Oceans of Serenity" />
								</div>

								<div class="emotions-slider-item__content">
									<div class="emotions-slider-item__header">
										<div class="emotions-slider-item__header-inner">
											<div class="emotions-slider-item__price">$225</div>
											<div class="emotions-slider-item__author">
												<div class="emotions-slider-item__author-image">
													<img src="https://bato-web-agency.github.io/bato-shared/img/slider-1/author-3.jpg" alt="Inna Grande" />
												</div>
												<div class="emotions-slider-item__author-name">
													Inna Grande
												</div>
											</div>
										</div>
									</div>

									<div class="emotions-slider-item__info">
										<h2 class="emotions-slider-item__title">
											Oceans of Serenity
										</h2>
										<div class="emotions-slider-item__text">
											Immerse yourself in the depths of calm and harmony. Blue waves of art take you into a world of meditation and inner balance.
										</div>
									</div>

									<div class="emotions-slider-item__footer">
										<a class="emotions-slider-item__btn" href="/" onclick="event.preventDefault();">
											<span class="emotions-slider-item__btn-text">View more</span>
											<span class="emotions-slider-item__btn-icon"></span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

<!-- Swiper JS -->
<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script is:inline>
document.addEventListener("DOMContentLoaded", () => {
	const sliders = document.querySelectorAll(".emotions-slider");

	if (!sliders.length) return;

	sliders.forEach((element) => {
		const slider = element.querySelector(".swiper");
		const prevEl = element.querySelector(".slider-nav__item_prev");
		const nextEl = element.querySelector(".slider-nav__item_next");

		new Swiper(slider, {
			slidesPerView: 1.4,
			spaceBetween: 20,
			speed: 500,
			centeredSlides: true,
			initialSlide: 1,
			loop: false,
			grabCursor: true,
			navigation: { 
				nextEl, 
				prevEl, 
				disabledClass: "disabled" 
			},
			breakpoints: {
				480: {
					slidesPerView: 1.6,
					spaceBetween: 20
				},
				640: { 
					slidesPerView: 2,
					spaceBetween: 25 
				},
				768: {
					slidesPerView: 2.4,
					spaceBetween: 30
				},
				1024: { 
					slidesPerView: 2.8,
					spaceBetween: 35 
				},
				1280: {
					slidesPerView: 3,
					spaceBetween: 40
				}
			}
		});
	});
});
</script>
